
//body
$body-bg:#f1f3ce;


//header
$header-bg : #00293c;
$header-color:white;
$header-fontSize: 60px;
$header-iconSize: 50px;
$header_ul_padding: 0 20px;

//left pannel
$panel-bg: #1e656d;
$select-bg: #f62a00;

//plus sign
$plus-color: $header-color;
$plus-font: 50px;
$plus-bg: $header-bg;

